<head prefix="og: https://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fediverse:creator" content="@timtimtim@infosec.exchange">

  {%- seo -%}
  <!-- Cat for the People -->
  <meta property="og:image" content="https://blog.lnx.cx/assets/opengraph/og-image-carl-300x300.png" />
  <meta property="og:image:secure_url" content="https://blog.lnx.cx/assets/opengraph/og-image-carl-300x300.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  <meta property="og:image:alt" content="Carlsberg a male tuxedo cat with an emerald glow around his head in a pink framed square. The cat looking up at his human, probably waiting for food or pets" />
  <!-- End the People's Cat -->

  <link rel="stylesheet" href="/assets/fira_code.css">
  <!-- https://fonts.google.com/specimen/Space+Grotesk -->
  <link rel="stylesheet" href="/assets/space_grotesque.css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
